*{  
  margin: auto 0 auto 0;   
  font-family: "helvetica neue", arial, verdana, sans-serif;
  }


h1, input {
  display: block;

}

#container{
  margin: 2%;
  display: flex;
}


#container1{
  background-color: #6495ed;
  width: 50%;
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
  display: inline-block;


}

#container2{
  background-color: #ff7f50;
  width: 50%;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
  margin-top: 0px;
}