
#dojo {
   width: 400px;
   height: 200px;
   background-color: grey;
   display: flex;
   align-items: center;
   align-items: end;
   justify-content: space-evenly;
   /* justify-content: space-between; */
}

